Tema2/exercicis_dtd/ejer03.dtd

<!ELEMENT countries (country+)>

<!ELEMENT country (city*,language*)>
<!ATTLIST country name CDATA #REQUIRED >
<!ATTLIST country population NMTOKEN #REQUIRED>
<!ATTLIST country area NMTOKEN #REQUIRED>

<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage NMTOKEN #REQUIRED>

<!ELEMENT city (name, population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
