Tema2/Ejemplos/alumno.dtd

<!ELEMENT alumno (((nombre,apellido)|(apellidos,nombre)),delegado?,optativa)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT delegado EMPTY>

<!ELEMENT optativa (cultura_clasica|teatro|informatica)>
<!ELEMENT cultura_clasica EMPTY>
<!ELEMENT teatro EMPTY>
<!ELEMENT informatica EMPTY>

