Tema2/Ejemplos/coche.dtd

<!ELEMENT coche (marca,modelo,ocasion?, combustible,extra*)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT ocasion EMPTY>
<!ELEMENT combustible (gasolina|gasoil|electrico|hibrido)>
<!ELEMENT gasolina EMPTY>
<!ELEMENT gasoil EMPTY>
<!ELEMENT electrico EMPTY>
<!ELEMENT hibrido EMPTY>
<!ELEMENT extra (#PCDATA)>